<a href="https://colab.research.google.com/github/vivian012134/2nd-ML100Days/blob/master/Demo20220823.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Basic

In [ ]:
a = 3
b = 2
a + b

5

## Spark 安裝

### 安裝 JDK

In [ ]:
! apt-get install openjdk-8-jdk-headless -qq > /dev/null

### 下載 & 解壓縮 Spark

In [ ]:
! wget https://dlcdn.apache.org/spark/spark-3.3.0/spark-3.3.0-bin-hadoop3.tgz

--2022-08-23 07:15:35--  https://dlcdn.apache.org/spark/spark-3.3.0/spark-3.3.0-bin-hadoop3.tgz
Resolving dlcdn.apache.org (dlcdn.apache.org)... 151.101.2.132, 2a04:4e42::644
Connecting to dlcdn.apache.org (dlcdn.apache.org)|151.101.2.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 299321244 (285M) [application/x-gzip]
Saving to: ‘spark-3.3.0-bin-hadoop3.tgz’

spark-3.3.0-bin-had 100%[===================>] 285.45M   242MB/s    in 1.2s

2022-08-23 07:15:36 (242 MB/s) - ‘spark-3.3.0-bin-hadoop3.tgz’ saved [299321244/299321244]

In [ ]:
! tar xf spark-3.3.0-bin-hadoop3.tgz

### 安裝 findspark

In [ ]:
! pip install -q findspark

### 設定環境

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-1.8.0-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.0-bin-hadoop3"

In [ ]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

### Spark 執行範例

In [ ]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()

In [ ]:
data = [1,2,3,4,5]
type(data)

list

In [ ]:
rdd =sc.parallelize(data, 4)
rdd

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:274

In [ ]:
rdd.collect()

[1, 2, 3, 4, 5]

## Iterative Programming

In [ ]:
a = [1,2,3,4,5,6,7,8]

In [ ]:
b = []
for ele in a:
  if ele % 2 ==0:
    b.append(ele)
b

[2, 4, 6, 8]

In [ ]:
c = sum(b)
c

20

## Functional Programming

In [ ]:
# y = ax + b

In [ ]:
import numpy as np
a = [1,2,3,4,5,6,7,8]
a = np.array(a)

In [ ]:
def f(ele):
  return ele % 2 ==0

In [ ]:
f(a)

array([False,  True, False,  True, False,  True, False,  True])

In [ ]:
a[f(a)]

array([2, 4, 6, 8])

In [ ]:
a[f(a)].sum()

20

## Word Count

In [ ]:
! wget https://raw.githubusercontent.com/ywchiu/cathay_pyspark/master/data/trump.txt

--2022-08-23 08:26:46--  https://raw.githubusercontent.com/ywchiu/cathay_pyspark/master/data/trump.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7346 (7.2K) [text/plain]
Saving to: ‘trump.txt’

trump.txt           100%[===================>]   7.17K  --.-KB/s    in 0s

2022-08-23 08:26:46 (56.7 MB/s) - ‘trump.txt’ saved [7346/7346]

In [ ]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()

In [ ]:
lines = sc.textFile('trump.txt')
lines

trump.txt MapPartitionsRDD[2] at textFile at NativeMethodAccessorImpl.java:0

In [ ]:
#lines.collect()

In [ ]:
words = lines.flatMap(lambda line : line.split())

In [ ]:
words

PythonRDD[3] at RDD at PythonRDD.scala:53

In [ ]:
#words.collect()

In [ ]:
wordCounts = words.map(lambda word : (word, 1) ).reduceByKey(lambda a,b : a+ b)

In [ ]:
wordCounts

PythonRDD[8] at RDD at PythonRDD.scala:53

In [ ]:
#wordCounts.collect()

In [ ]:
ret = wordCounts.sortBy(lambda a: -a[1])

In [ ]:
ret.take(10)

[('the', 61),
 ('and', 53),
 ('will', 40),
 ('of', 38),
 ('to', 32),
 ('our', 30),
 ('we', 26),
 ('is', 20),
 ('We', 16),
 ('–', 14)]

## 中文 WordCount

In [ ]:
news = '''
升息循環市場劇烈動盪 國泰證：債優於股、美元續走強
全球市場進入升息循環後持續動盪，美國聯準會（Fed）日前又升息3碼，聯邦資金利率呈現2.25%～2.5%區間。國泰證券認為，在升息循環下美元仍持續走強，債券市場在升息環境下較股市有優勢，建議投資人可多關注「債優於股」的投資策略。

國泰證券今表示，美聯準會升息3碼，聯邦資金利率呈現2.25%～2.5%區間，Fed官員透露，為遏止通膨，未來將維持鷹派態度，使股債市場震盪且面臨挑戰，建議投資人以「債優於股」的投資策略來進行布局，

國泰證指出，據研究機構數據，截至7月底，主要債市資金狀況改善，如投資等級債、新興市場債等淨流出資金較為減緩，非投資等級債由「淨流出」轉為「淨流入」15.8億美元，整體債券市場資金動能由弱轉強。雖目前市場動盪因子多，投資人還是能從股債配置來尋找投資契機，例如美國債券市場的投資等級債券指數，殖利率近期來到10年高點，購買債券可望帶來高利息收入。

針對8月全球主要股市，國泰證券認為，各國在升息、能源危機與極端氣候等各種因素影響下，呈現不同的市場樣貌，如夏日帶動消費商機，使消費市場較大的美國需求回升；日本持續實施殖利率曲線控制，使日圓兌美元將處於相對低點，藉此「創造出口」；中國在疫情解封後逐漸復工，搭配刺激經濟政策，使其經濟逐漸回溫；而美元仍持續走強，因此對美、中、日市場及美元抱持「正向」看法。歐洲因受熱浪橫掃，導致森林大火延燒，以及新興亞洲因美元升值導致資金外流，則持較「中立」看法；反之，位於俄烏戰爭熱區之新興歐洲則持「保守」看待。

國泰證也表示，第三季正值炎夏時節，歐洲熱浪不斷，甚至出現森林野火，顯見因氣候變遷，導致極端天氣變本加厲，未來各國可望紛紛往「減少碳排」及「加速清潔能源產業」發展，建議投資人可多加關注「太陽能」和「風力發電」等以減碳為主的能源產業，較具發展的空間。

'''

In [ ]:
with open('news.txt', 'w') as f:
  f.write(news)

In [ ]:
rdd =sc.textFile('news.txt')
rdd

news.txt MapPartitionsRDD[23] at textFile at NativeMethodAccessorImpl.java:0

In [ ]:
import jieba

In [ ]:
words = rdd.flatMap(lambda e: jieba.lcut(e))
wordCounts = words.map(lambda word : (word, 1) ).reduceByKey(lambda a,b : a+ b)
ret = wordCounts.sortBy(lambda a: -a[1])
ret

PythonRDD[35] at RDD at PythonRDD.scala:53

In [ ]:
ret.take(10)

[('，', 45),
 ('「', 12),
 ('」', 12),
 ('市場', 10),
 ('升息', 7),
 ('的', 7),
 ('美元', 7),
 ('。', 7),
 ('投資', 6),
 ('於', 5)]

## Spark DataFrame

In [ ]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()

from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

/content/spark-3.3.0-bin-hadoop3/python/pyspark/sql/context.py:114: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning,

In [ ]:
import pandas
df = pandas.DataFrame([
        (1, 'TW', 100),
        (2, 'TW', 300),
        (3, 'US', 200),
    ], columns = ['userid',  'country', 'score']  )
df

   userid country  score
0       1      TW    100
1       2      TW    300
2       3      US    200

In [ ]:
df = sqlContext.createDataFrame(
    [
        (1, 'TW', 100),
        (2, 'TW', 300),
        (3, 'US', 200),
    ],
    ['userid',  'country', 'score'] 
)

df

DataFrame[userid: bigint, country: string, score: bigint]

In [ ]:
df.show()

+------+-------+-----+
|userid|country|score|
+------+-------+-----+
|     1|     TW|  100|
|     2|     TW|  300|
|     3|     US|  200|
+------+-------+-----+

In [ ]:
from pyspark.sql import Row

rdd = sc.parallelize([
 Row(country='TW', score=100, userid=1),
 Row(country='TW', score=300, userid=2),
 Row(country='US', score=200, userid=3)])

rdd

ParallelCollectionRDD[44] at readRDDFromFile at PythonRDD.scala:274

In [ ]:
rdd.collect()

[Row(country='TW', score=100, userid=1),
 Row(country='TW', score=300, userid=2),
 Row(country='US', score=200, userid=3)]

In [ ]:
rdf2 = rdd.toDF()

In [ ]:
rdf2.show()

+-------+-----+------+
|country|score|userid|
+-------+-----+------+
|     TW|  100|     1|
|     TW|  300|     2|
|     US|  200|     3|
+-------+-----+------+

In [ ]:
df = sqlContext.createDataFrame(
    [
        (1, 'TW', 100),
        (2, 'TW', 300),
        (3, 'US', 200),
    ],
    ['userid',  'country', 'score'] 
)

df

DataFrame[userid: bigint, country: string, score: bigint]

In [ ]:
df.toPandas()

   userid country  score
0       1      TW    100
1       2      TW    300
2       3      US    200

In [ ]:
pandas_df = df.toPandas()

In [ ]:
spark_df = sqlContext.createDataFrame(pandas_df)

In [ ]:
spark_df

DataFrame[userid: bigint, country: string, score: bigint]

In [ ]:
spark_df.show()

+------+-------+-----+
|userid|country|score|
+------+-------+-----+
|     1|     TW|  100|
|     2|     TW|  300|
|     3|     US|  200|
+------+-------+-----+

In [ ]:
# SELECT userid, country FROM spark_df
spark_df.select('userid', 'country').show()

+------+-------+
|userid|country|
+------+-------+
|     1|     TW|
|     2|     TW|
|     3|     US|
+------+-------+

In [ ]:
# SELECT userid, country FROM spark_df WHERE country = 'TW'
spark_df.select('userid', 'country').where("country = 'TW'").show()

+------+-------+
|userid|country|
+------+-------+
|     1|     TW|
|     2|     TW|
+------+-------+

In [ ]:
# SELECT userid, country FROM spark_df WHERE country = 'TW' ORDER BY score
spark_df.select('userid', 'country', 'score').where("country = 'TW'").sort('score').show()

+------+-------+-----+
|userid|country|score|
+------+-------+-----+
|     1|     TW|  100|
|     2|     TW|  300|
+------+-------+-----+

In [ ]:
# SELECT userid, country FROM spark_df WHERE country = 'TW' ORDER BY score DESC
from pyspark.sql.functions import desc
spark_df.select('userid', 'country', 'score').where("country = 'TW'").sort(desc('score') ).show()

+------+-------+-----+
|userid|country|score|
+------+-------+-----+
|     2|     TW|  300|
|     1|     TW|  100|
+------+-------+-----+